body{
    background-color: black;
    color: white;
}

.navbar{
    background-color: darkred;
    margin-bottom: 15px;
}

.container{
    margin-top: 3vh;
}

.card{
    background-color: white;
}

.card-header{
    background-color: rgb(130, 0, 0);
}

.card-body{
    background-color: rgb(179, 62, 62);
}


.form-control{
    background-color: white;
}

.btn{
    background-color: red;
    color: white;
}

#link-form{
    color: white;
    text-decoration: none;
    background-color: red;
    padding: 5px;
    margin: 15px;
    border-radius: 3px;
}

#link-form:hover{
    color: black;
}

.card{
    margin-top: 15px;
    margin-bottom: 15px;
}